In [210]:
import pandas as pd
import numpy as np
import json
import ast
import os

#### To do: Rodar o fluxo do zero novamente para gerar as labels e, na sequencia, remover musicas inválidas em outro script fazendo join com as musicas processadas

In [211]:
from tqdm.notebook import tqdm

In [212]:
tqdm.pandas()

In [213]:

args = pd.Series({
    "root_dir":"/mnt/disks/data/",
    "dataset_path":"/mnt/disks/data/fma/fma_large",
    "embeddings":"music_style",
    "train_id": "hierarchical_sample_test",
    'sample_size':0.1
})

In [214]:

job_path = "/mnt/disks/data/fma/trains"


# In[15]:

train_path = os.path.join(job_path,args.train_id)

# In[16]:

base_path = os.path.join(args.root_dir,"fma")

# In[17]:

models_path = os.path.join(args.root_dir,"models")


metadata_path_fma = os.path.join(base_path,"fma_metadata")

# In[18]:

metadata_file = os.path.join(train_path,"metadata.json")


categories_labels_path = os.path.join(train_path,"labels.json")

In [215]:


def __load_json__(path):
    with open(path, 'r') as f:
        tmp = json.loads(f.read())

    return tmp

In [216]:

def create_dir(path):
    # checking if the directory demo_folder2 
    # exist or not.
    if not os.path.isdir(path):

        # if the demo_folder2 directory is 
        # not present then create it.
        os.makedirs(path)
    return True

In [217]:
create_dir(train_path)

True

## Load genres file. Contains relationships beetwen genres

In [218]:
genres_df = pd.read_csv(os.path.join(metadata_path_fma,'genres.csv'))

In [219]:
genres_df

     genre_id  #tracks  parent          title  top_level
0           1     8693      38    Avant-Garde         38
1           2     5271       0  International          2
2           3     1752       0          Blues          3
3           4     4126       0           Jazz          4
4           5     4106       0      Classical          5
..        ...      ...     ...            ...        ...
158      1032       60     102        Turkish          2
159      1060       30      46          Tango          2
160      1156       26     130           Fado          2
161      1193       72     763      Christmas         38
162      1235    14938       0   Instrumental       1235

[163 rows x 5 columns]

In [220]:
genres_df[genres_df['genre_id'] == 495]

     genre_id  #tracks  parent      title  top_level
136       495     2061      15  Downtempo         15

In [221]:
# Cria um dicionário que associa o ID de cada música aos IDs de seus gêneros musicais
tracks_df = pd.read_csv(os.path.join(metadata_path_fma,'tracks_valid.csv'))

In [222]:
tracks_df = tracks_df.sample(frac=args.sample_size)

In [223]:
tracks_df.sample(20)

,track_id,track_title,valid_genre
57091,86002,According to Signal,"['27', '38']"
13726,22495,Reflections (Deflecting Defections mix),['100']
61255,94016,3. deef - peaceful melting on shrooms,"['1', '76', '107', '236']"
65133,99651,Dream Hole,"['15', '42', '236']"
103285,154242,Land of the Deads,"['38', '107', '1235']"
70912,110339,il va revenir,"['76', '130']"
24229,38403,O Padre que mafiava a esmola a,"['17', '76']"
78593,120131,Modern Day Gavel,"['1', '15', '107']"
40470,61586,Intro to the 2012 Apocalypse,"['3', '38', '103']"
4905,9513,Cold Water,"['36', '89', '98']"
11676,19496,Spogfire,['89']
83041,126168,About Face,"['36', '250', '1235']"
42119,63900,Caps In Stems (Instrumental),['21']
97031,144954,IA 07,"['18', '42', '1235']"
57164,86078,Didst,['456']
48796,73014,Est ce que ça vous plait?,"['76', '311', '504']"
19908,32181,Prayers Of The Saints,"['32', '47', '107']"
42689,64572,Passing Fields,['4']
11537,19278,Tin Hearts,"['10', '66', '76', '103']"
61598,94528,Catcher in the Rye Bread,"['12', '25', '58']"

In [224]:
tracks_df.valid_genre.values

array(["['15', '21']", "['15', '236', '495']", "['25', '31', '38']", ...,
       "['1', '4', '5', '32', '38', '41', '322']",
       "['1', '15', '70', '107', '183', '236', '267', '359', '456', '495', '580']",
       "['1', '6', '27', '76']"], dtype=object)

In [225]:
tracks_df.track_title

31985                                      No Sleep Til TSP
93614                                   Let's Make a Memory
52136                                              100 Mile
51886                                            Untitled 4
100857                                            Auto-Jock
                                ...
65417                                         urban exploit
39513                                          marshal arts
89781     Jared C. Balogh- Live @ The Mune (Saylorsburg,...
81592                                             Aisatsana
22628                                        Our Pet Possum
Name: track_title, Length: 10419, dtype: object

In [226]:
## Get complete genre structure
def get_all_structure(estrutura,df_genres):
    ## Get structure from df_genres
    def get_all_structure_from_df(estrutura,df_genres,structure=[]):
        if estrutura == 0:
            return structure
        else:
            structure.append(estrutura)
            get_all_structure_from_df(df_genres[df_genres["genre_id"]==int(estrutura)].parent.values[0],df_genres,structure)
            return structure
    
    return get_all_structure_from_df(estrutura,df_genres,structure=[])

In [227]:
# tracks_df['valid_genre'] = tracks_df.track_genres.apply(lambda x: x.strip('][').split(', ') if x != '[]' else None)
tracks_df['valid_genre'] = tracks_df.valid_genre.apply(lambda x: ast.literal_eval(x))

In [228]:
tracks_df['valid_genre']

31985                                              [15, 21]
93614                                        [15, 236, 495]
52136                                          [25, 31, 38]
51886                                                   [3]
100857                                        [38, 41, 125]
                                ...
65417                                         [38, 42, 107]
39513                                        [20, 138, 188]
89781                            [1, 4, 5, 32, 38, 41, 322]
81592     [1, 15, 70, 107, 183, 236, 267, 359, 456, 495,...
22628                                        [1, 6, 27, 76]
Name: valid_genre, Length: 10419, dtype: object

In [229]:
tracks_df['last_genre_id'] = tracks_df.valid_genre.apply(lambda x:x[-1] if x != None else None)

In [230]:
tracks_df.sample(20)

,track_id,track_title,valid_genre,last_genre_id
62216,95441,Morphic Signals,"[183, 224]",224
31086,48149,Standing There,"[12, 103, 111]",111
93634,140033,Music For Cats,"[10, 33, 76]",76
9547,16126,All Aboard,[15],15
50259,75183,Vulgar Display of Panda Bear,[439],439
8376,14360,Hooks Reloaded,[21],21
99081,147632,Isosceles,"[15, 38, 125, 183]",183
84662,128527,A Beatnik Mother's Dying Wish,"[17, 26, 66]",66
93847,140314,nxI2016-07-12_00_20_40,"[38, 47]",47
87412,131958,Everybody's Jazzinn It,[8],8
75321,115918,El éxito,"[33, 94]",94
77875,119309,Factory Farm,"[47, 1235]",1235
51741,78050,Two at a Time,"[10, 17]",17
40399,61505,Lungo il sentiero,"[2, 12]",12
46697,70131,Days Past,"[4, 14, 21]",21
51898,78844,Coraçãozinho de Satã,"[21, 83, 100]",100
50866,76004,I,"[1, 38, 41]",41
19347,31364,Casa Caiada,"[2, 10, 12, 17, 171]",171
80005,122039,2-,"[27, 76]",76
31871,49284,The C-Noise Tape,"[32, 47, 107]",107

In [231]:
# tracks_df.dropna(inplace=True)

In [232]:
tracks_df

,track_id,track_title,valid_genre,last_genre_id
31985,49467,No Sleep Til TSP,"[15, 21]",21
93614,140005,Let's Make a Memory,"[15, 236, 495]",495
52136,79519,100 Mile,"[25, 31, 38]",38
51886,78750,Untitled 4,[3],3
100857,149871,Auto-Jock,"[38, 41, 125]",125
...,...,...,...,...
65417,100752,urban exploit,"[38, 42, 107]",107
39513,60207,marshal arts,"[20, 138, 188]",188
89781,134846,"Jared C. Balogh- Live @ The Mune (Saylorsburg,...","[1, 4, 5, 32, 38, 41, 322]",322
81592,124170,Aisatsana,"[1, 15, 70, 107, 183, 236, 267, 359, 456, 495,...",580
22628,35927,Our Pet Possum,"[1, 6, 27, 76]",76

In [233]:
tracks_df['full_genre_id'] = tracks_df.last_genre_id.apply(lambda x: get_all_structure(x,genres_df)[::-1])

In [234]:
tracks_df.full_genre_id.value_counts()

[38]            654
[1235]          637
[1235, 107]     432
[10, 76]        419
[17, 103]       383
               ...
[13]              1
[2, 176]          1
[2, 117]          1
[2, 86, 174]      1
[21, 83]          1
Name: full_genre_id, Length: 155, dtype: int64

In [235]:
tracks_df.columns

Index(['track_id', 'track_title', 'valid_genre', 'last_genre_id',
       'full_genre_id'],
      dtype='object')

In [236]:
tracks_df = tracks_df[['track_id','full_genre_id']]

In [237]:
tracks_df.full_genre_id.value_counts()

[38]            654
[1235]          637
[1235, 107]     432
[10, 76]        419
[17, 103]       383
               ...
[13]              1
[2, 176]          1
[2, 117]          1
[2, 86, 174]      1
[21, 83]          1
Name: full_genre_id, Length: 155, dtype: int64

In [238]:
tracks_df.full_genre_id.info

<bound method Series.info of 31985            [21]
93614       [15, 495]
52136            [38]
51886             [3]
100857      [38, 125]
             ...
65417     [1235, 107]
39513       [20, 188]
89781        [5, 322]
81592       [21, 580]
22628        [10, 76]
Name: full_genre_id, Length: 10419, dtype: object>

In [239]:
labels_size = tracks_df.full_genre_id.apply(lambda x: len(x))

In [240]:
labels_size = labels_size.max()

In [241]:
labels_size

5

In [242]:
import pandas as pd
import os

### Parse of label to structure

In [243]:
### Function for parse label to sctructure of hierarhical scheme

def parse_label(label,label_size=5):
    # label = label.split('-')
    # preencher com 0 no caso de haver menos de 5 níveis
    labels = np.zeros(label_size,dtype=int)
    for i, label in enumerate(label):
        if i == 5:
            break
        # Aqui você pode fazer a conversão do label em um índice inteiro usando um dicionário ou outro método
        # Neste exemplo, estou apenas usando a posição da label na lista como índice
        labels[i] = label
    return labels

In [244]:
tracks_df.full_genre_id.value_counts()

[38]            654
[1235]          637
[1235, 107]     432
[10, 76]        419
[17, 103]       383
               ...
[13]              1
[2, 176]          1
[2, 117]          1
[2, 86, 174]      1
[21, 83]          1
Name: full_genre_id, Length: 155, dtype: int64

In [245]:
parsed_labels = tracks_df.full_genre_id.apply(lambda x: parse_label(x))

In [246]:
def convert_label_to_string(x,level=2):
    return '-'.join([str(value) for value in x[:level]])

In [247]:
tracks_df['labels_1'] = parsed_labels.progress_apply(lambda x: str(x[:1][0]))
tracks_df['labels_2'] = parsed_labels.progress_apply(lambda x: convert_label_to_string(x,level=2))
tracks_df['labels_3'] = parsed_labels.progress_apply(lambda x: convert_label_to_string(x,level=3))
tracks_df['labels_4'] = parsed_labels.progress_apply(lambda x: convert_label_to_string(x,level=4))
tracks_df['labels_5'] = parsed_labels.progress_apply(lambda x: convert_label_to_string(x,level=5))

  0%|          | 0/10419 [00:00<?, ?it/s]

/tmp/ipykernel_2642481/310633048.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tracks_df['labels_1'] = parsed_labels.progress_apply(lambda x: str(x[:1][0]))

  0%|          | 0/10419 [00:00<?, ?it/s]

/tmp/ipykernel_2642481/310633048.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tracks_df['labels_2'] = parsed_labels.progress_apply(lambda x: convert_label_to_string(x,level=2))

  0%|          | 0/10419 [00:00<?, ?it/s]

  0%|          | 0/10419 [00:00<?, ?it/s]

  0%|          | 0/10419 [00:00<?, ?it/s]

In [248]:
tracks_df.labels_5.unique()

array(['21-0-0-0-0', '15-495-0-0-0', '38-0-0-0-0', '3-0-0-0-0',
       '38-125-0-0-0', '10-76-0-0-0', '1235-0-0-0-0', '12-25-89-0-0',
       '15-181-0-0-0', '15-236-0-0-0', '15-297-0-0-0', '12-25-111-0-0',
       '15-468-0-0-0', '38-247-0-0-0', '21-542-0-0-0', '15-42-0-0-0',
       '15-0-0-0-0', '12-45-53-0-0', '15-286-0-0-0', '10-362-0-0-0',
       '12-0-0-0-0', '38-250-0-0-0', '1235-107-0-0-0', '10-0-0-0-0',
       '38-41-0-0-0', '17-103-0-0-0', '4-74-0-0-0', '9-137-0-0-0',
       '38-32-0-0-0', '21-580-0-0-0', '38-186-0-0-0', '5-322-0-0-0',
       '17-180-0-0-0', '12-85-0-0-0', '1235-18-538-0-0', '14-19-0-0-0',
       '12-27-0-0-0', '2-504-0-0-0', '21-100-0-0-0', '17-94-0-0-0',
       '12-25-109-361-0', '15-184-0-0-0', '12-25-109-0-0', '2-102-0-0-0',
       '38-30-0-0-0', '12-66-0-0-0', '12-31-439-0-0', '12-25-0-0-0',
       '15-296-0-0-0', '2-79-0-0-0', '38-224-0-0-0', '1235-18-0-0-0',
       '2-46-0-0-0', '12-58-0-0-0', '4-179-0-0-0', '12-359-0-0-0',
       '2-77-0-0-0', '12-314-0-0-0', '12-25-71-0-0', '15-183-0-0-0',
       '38-22-0-0-0', '8-0-0-0-0', '12-45-53-90-0', '15-185-0-0-0',
       '15-337-0-0-0', '5-659-0-0-0', '12-31-0-0-0', '20-428-0-0-0',
       '20-0-0-0-0', '5-443-0-0-0', '13-170-0-0-0', '20-65-0-0-0',
       '38-47-0-0-0', '17-0-0-0-0', '38-456-0-0-0', '15-182-400-0-0',
       '38-1-0-0-0', '2-130-1156-0-0', '20-378-0-0-0', '12-70-0-0-0',
       '1235-267-0-0-0', '21-539-0-0-0', '17-33-0-0-0', '12-440-0-0-0',
       '21-811-0-0-0', '13-311-0-0-0', '20-138-0-0-0', '9-651-0-0-0',
       '4-0-0-0-0', '2-86-0-0-0', '12-26-113-0-0', '2-46-808-0-0',
       '2-171-0-0-0', '12-31-101-0-0', '15-297-240-0-0', '12-26-0-0-0',
       '12-88-0-0-0', '15-695-0-0-0', '5-442-0-0-0', '12-98-0-0-0',
       '4-97-0-0-0', '38-514-0-0-0', '5-0-0-0-0', '12-85-404-0-0',
       '15-181-401-0-0', '12-36-0-0-0', '13-810-0-0-0', '17-49-0-0-0',
       '38-6-16-763-0', '15-182-0-0-0', '20-188-0-0-0', '14-11-0-0-0',
       '2-172-0-0-0', '2-130-0-0-0', '4-37-0-0-0', '2-92-0-0-0',
       '12-25-64-0-0', '38-6-16-763-1193', '5-441-0-0-0', '2-0-0-0-0',
       '2-79-602-0-0', '9-63-0-0-0', '2-46-1060-0-0', '2-118-0-0-0',
       '38-6-360-0-0', '5-187-0-0-0', '2-130-619-0-0', '2-130-524-0-0',
       '2-232-0-0-0', '2-102-1032-0-0', '20-65-166-0-0', '20-65-43-0-0',
       '12-45-0-0-0', '3-567-0-0-0', '15-468-491-0-0', '12-31-167-0-0',
       '4-906-0-0-0', '21-693-0-0-0', '2-177-0-0-0', '2-92-214-0-0',
       '2-86-173-0-0', '38-6-0-0-0', '20-465-0-0-0', '9-169-0-0-0',
       '2-46-502-0-0', '2-130-741-0-0', '20-65-189-0-0', '9-0-0-0-0',
       '13-0-0-0-0', '2-176-0-0-0', '2-117-0-0-0', '2-92-81-0-0',
       '2-86-174-0-0', '21-83-0-0-0', '14-0-0-0-0'], dtype=object)

In [249]:
tracks_df.to_csv(os.path.join(train_path,"tracks.csv"),index=False)

In [250]:
tracks_df = pd.read_csv(os.path.join(train_path,"tracks.csv"))

In [251]:
categories_df = pd.DataFrame({'level5':tracks_df.labels_5.unique()})

In [252]:
categories_df['level1'] = categories_df.level5.progress_apply(lambda x: '-'.join(x.split('-')[:1]))
categories_df['level2'] = categories_df.level5.progress_apply(lambda x: '-'.join(x.split('-')[:2]))
categories_df['level3'] = categories_df.level5.progress_apply(lambda x: '-'.join(x.split('-')[:3]))
categories_df['level4'] = categories_df.level5.progress_apply(lambda x: '-'.join(x.split('-')[:4]))

  0%|          | 0/155 [00:00<?, ?it/s]

  0%|          | 0/155 [00:00<?, ?it/s]

  0%|          | 0/155 [00:00<?, ?it/s]

  0%|          | 0/155 [00:00<?, ?it/s]

In [253]:
categories_df

           level5 level1  level2    level3      level4
0      21-0-0-0-0     21    21-0    21-0-0    21-0-0-0
1    15-495-0-0-0     15  15-495  15-495-0  15-495-0-0
2      38-0-0-0-0     38    38-0    38-0-0    38-0-0-0
3       3-0-0-0-0      3     3-0     3-0-0     3-0-0-0
4    38-125-0-0-0     38  38-125  38-125-0  38-125-0-0
..            ...    ...     ...       ...         ...
150   2-117-0-0-0      2   2-117   2-117-0   2-117-0-0
151   2-92-81-0-0      2    2-92   2-92-81   2-92-81-0
152  2-86-174-0-0      2    2-86  2-86-174  2-86-174-0
153   21-83-0-0-0     21   21-83   21-83-0   21-83-0-0
154    14-0-0-0-0     14    14-0    14-0-0    14-0-0-0

[155 rows x 5 columns]

In [254]:
def get_labels_name(x,genres_df):
    levels = 5
    full_name = []
    last_level = 0
    genre_root = ""
    for genre in x.split('-'):
        genre_df = genres_df[genres_df['genre_id'] == int(genre)]
        if genre_df.empty:
            genre_name = genre_root 
        else:
            genre_name = genre_df.title.values.tolist()[0]
            genre_root = genre_name
        
        full_name.append(genre_name)
    full_name = '>'.join(full_name)
        
    return full_name
    # return genres_df[genres_df['genre_id'] == int(x)].title.values.tolist()[0]

In [255]:
categories_df['level5_name'] = categories_df.level5.apply(lambda x: get_labels_name(x,genres_df))

In [256]:
categories_df

,level5,level1,level2,level3,level4,level5_name
0,21-0-0-0-0,21,21-0,21-0-0,21-0-0-0,Hip-Hop>Hip-Hop>Hip-Hop>Hip-Hop>Hip-Hop
1,15-495-0-0-0,15,15-495,15-495-0,15-495-0-0,Electronic>Downtempo>Downtempo>Downtempo>Downt...
2,38-0-0-0-0,38,38-0,38-0-0,38-0-0-0,Experimental>Experimental>Experimental>Experim...
3,3-0-0-0-0,3,3-0,3-0-0,3-0-0-0,Blues>Blues>Blues>Blues>Blues
4,38-125-0-0-0,38,38-125,38-125-0,38-125-0-0,Experimental>Unclassifiable>Unclassifiable>Unc...
...,...,...,...,...,...,...
150,2-117-0-0-0,2,2-117,2-117-0,2-117-0-0,International>Polka>Polka>Polka>Polka
151,2-92-81-0-0,2,2-92,2-92-81,2-92-81-0,International>African>Afrobeat>Afrobeat>Afrobeat
152,2-86-174-0-0,2,2-86,2-86-174,2-86-174-0,International>Indian>South Indian Traditional>...
153,21-83-0-0-0,21,21-83,21-83-0,21-83-0-0,Hip-Hop>Nerdcore>Nerdcore>Nerdcore>Nerdcore
154,14-0-0-0-0,14,14-0,14-0-0,14-0-0-0,Soul-RnB>Soul-RnB>Soul-RnB>Soul-RnB>Soul-RnB

In [257]:
def __create_labels__(categories_df):
    data = {
        "label1": {},
        "label2": {},
        "label3": {},
        "label4": {},
        "label5": {},
        "label1_inverse": [],
        "label2_inverse": [],
        "label3_inverse": [],
        "label4_inverse": [],
        "label5_inverse": [],
        "label1_name": {},
        "label2_name": {},
        "label3_name": {},
        "label4_name": {},
        "label5_name": {},
    }

    for idx, cat in enumerate(set(categories_df.level1.values.tolist())):
        data['label1'][cat] = idx
        data['label1_inverse'].append(cat)
        data['label1_count'] = idx + 1

    for idx, cat in enumerate(set(categories_df.level2.values.tolist())):
        data['label2'][cat] = idx
        data['label2_inverse'].append(cat)
        data['label2_count'] = idx + 1
        
    for idx, cat in enumerate(set(categories_df.level3.values.tolist())):
        data['label3'][cat] = idx
        data['label3_inverse'].append(cat)
        data['label3_count'] = idx + 1

    for idx, cat in enumerate(set(categories_df.level4.values.tolist())):
        data['label4'][cat] = idx
        data['label4_inverse'].append(cat)
        data['label4_count'] = idx + 1
        
    for idx, cat in enumerate(set(categories_df.level5.values.tolist())):
        data['label5'][cat] = idx
        data['label5_inverse'].append(cat)
        data['label5_count'] = idx + 1
        
    for cat5,cat1,cat2,cat3,cat4,name5 in categories_df.values:
        
        name1 = '>'.join(name5.split('>')[:1])
        name2 = '>'.join(name5.split('>')[:2])
        name3 = '>'.join(name5.split('>')[:3])
        name4 = '>'.join(name5.split('>')[:4])
        
        
        data['label1_name'][cat1] = name1
        data['label2_name'][cat2] = name2
        data['label3_name'][cat3] = name3
        data['label4_name'][cat4] = name4
        data['label5_name'][cat5] = name5
        
    return data

In [258]:
with open(categories_labels_path, 'w+') as f:
    f.write(json.dumps(__create_labels__(categories_df)))

In [259]:
labels  = __create_labels__(categories_df)

In [260]:
labels['label3_name']

{'21-0-0': 'Hip-Hop>Hip-Hop>Hip-Hop',
 '15-495-0': 'Electronic>Downtempo>Downtempo',
 '38-0-0': 'Experimental>Experimental>Experimental',
 '3-0-0': 'Blues>Blues>Blues',
 '38-125-0': 'Experimental>Unclassifiable>Unclassifiable',
 '10-76-0': 'Pop>Experimental Pop>Experimental Pop',
 '1235-0-0': 'Instrumental>Instrumental>Instrumental',
 '12-25-89': 'Rock>Punk>Post-Punk',
 '15-181-0': 'Electronic>Techno>Techno',
 '15-236-0': 'Electronic>IDM>IDM',
 '15-297-0': 'Electronic>Chip Music>Chip Music',
 '12-25-111': 'Rock>Punk>Power-Pop',
 '15-468-0': 'Electronic>Dubstep>Dubstep',
 '38-247-0': 'Experimental>Musique Concrete>Musique Concrete',
 '21-542-0': 'Hip-Hop>Breakbeat>Breakbeat',
 '15-42-0': 'Electronic>Ambient Electronic>Ambient Electronic',
 '15-0-0': 'Electronic>Electronic>Electronic',
 '12-45-53': 'Rock>Loud-Rock>Noise-Rock',
 '15-286-0': 'Electronic>Trip-Hop>Trip-Hop',
 '10-362-0': 'Pop>Synth Pop>Synth Pop',
 '12-0-0': 'Rock>Rock>Rock',
 '38-250-0': 'Experimental>Improv>Improv',
 '1235-107-0': 'Instrumental>Ambient>Ambient',
 '10-0-0': 'Pop>Pop>Pop',
 '38-41-0': 'Experimental>Electroacoustic>Electroacoustic',
 '17-103-0': 'Folk>Singer-Songwriter>Singer-Songwriter',
 '4-74-0': 'Jazz>Free-Jazz>Free-Jazz',
 '9-137-0': 'Country>Americana>Americana',
 '38-32-0': 'Experimental>Noise>Noise',
 '21-580-0': 'Hip-Hop>Abstract Hip-Hop>Abstract Hip-Hop',
 '38-186-0': 'Experimental>Sound Poetry>Sound Poetry',
 '5-322-0': 'Classical>Composed Music>Composed Music',
 '17-180-0': 'Folk>British Folk>British Folk',
 '12-85-0': 'Rock>Garage>Garage',
 '1235-18-538': 'Instrumental>Soundtrack>Compilation',
 '14-19-0': 'Soul-RnB>Funk>Funk',
 '12-27-0': 'Rock>Lo-Fi>Lo-Fi',
 '2-504-0': 'International>Latin>Latin',
 '21-100-0': 'Hip-Hop>Alternative Hip-Hop>Alternative Hip-Hop',
 '17-94-0': 'Folk>Freak-Folk>Freak-Folk',
 '12-25-109': 'Rock>Punk>Hardcore',
 '15-184-0': 'Electronic>Minimal Electronic>Minimal Electronic',
 '2-102-0': 'International>Middle East>Middle East',
 '38-30-0': 'Experimental>Field Recordings>Field Recordings',
 '12-66-0': 'Rock>Indie-Rock>Indie-Rock',
 '12-31-439': 'Rock>Metal>Grindcore',
 '12-25-0': 'Rock>Punk>Punk',
 '15-296-0': 'Electronic>Dance>Dance',
 '2-79-0': 'International>Reggae - Dub>Reggae - Dub',
 '38-224-0': 'Experimental>Sound Collage>Sound Collage',
 '1235-18-0': 'Instrumental>Soundtrack>Soundtrack',
 '2-46-0': 'International>Latin America>Latin America',
 '12-58-0': 'Rock>Psych-Rock>Psych-Rock',
 '4-179-0': 'Jazz>Big Band/Swing>Big Band/Swing',
 '12-359-0': 'Rock>Shoegaze>Shoegaze',
 '2-77-0': 'International>French>French',
 '12-314-0': 'Rock>Goth>Goth',
 '12-25-71': 'Rock>Punk>No Wave',
 '15-183-0': 'Electronic>Glitch>Glitch',
 '38-22-0': 'Experimental>Audio Collage>Audio Collage',
 '8-0-0': 'Old-Time / Historic>Old-Time / Historic>Old-Time / Historic',
 '15-185-0': 'Electronic>Breakcore - Hard>Breakcore - Hard',
 '15-337-0': 'Electronic>Drum & Bass>Drum & Bass',
 '5-659-0': 'Classical>Contemporary Classical>Contemporary Classical',
 '12-31-0': 'Rock>Metal>Metal',
 '20-428-0': 'Spoken>Radio Theater>Radio Theater',
 '20-0-0': 'Spoken>Spoken>Spoken',
 '5-443-0': 'Classical>Choral Music>Choral Music',
 '13-170-0': 'Easy Listening>Easy Listening: Vocal>Easy Listening: Vocal',
 '20-65-0': 'Spoken>Radio>Radio',
 '38-47-0': 'Experimental>Drone>Drone',
 '17-0-0': 'Folk>Folk>Folk',
 '38-456-0': 'Experimental>Minimalism>Minimalism',
 '15-182-400': 'Electronic>House>Chill-out',
 '38-1-0': 'Experimental>Avant-Garde>Avant-Garde',
 '2-130-1156': 'International>Europe>Fado',
 '20-378-0': 'Spoken>Spoken Word>Spoken Word',
 '12-70-0': 'Rock>Industrial>Industrial',
 '1235-267-0': 'Instrumental>New Age>New Age',
 '21-539-0': 'Hip-Hop>Rap>Rap',
 '17-33-0': 'Folk>Psych-Folk>Psych-Folk',
 '12-440-0': 'Rock>Rock Opera>Rock Opera',
 '21-811-0': 'Hip-Hop>Hip-Hop Beats>Hip-Hop Beats',
 '13-311-0': 'Easy Listening>Lounge>Lounge',
 '20-138-0': 'Spoken>Spoken Weird>Spoken Weird',
 '9-651-0': 'Country>Country & Western>Country & Western',
 '4-0-0': 'Jazz>Jazz>Jazz',
 '2-86-0': 'International>Indian>Indian',
 '12-26-113': 'Rock>Post-Rock>Space-Rock',
 '2-46-808': 'International>Latin America>Salsa',
 '2-171-0': 'International>Brazilian>Brazilian',
 '12-31-101': 'Rock>Metal>Death-Metal',
 '15-297-240': 'Electronic>Chip Music>Chiptune',
 '12-26-0': 'Rock>Post-Rock>Post-Rock',
 '12-88-0': 'Rock>New Wave>New Wave',
 '15-695-0': 'Electronic>Jungle>Jungle',
 '5-442-0': 'Classical>Chamber Music>Chamber Music',
 '12-98-0': 'Rock>Progressive>Progressive',
 '4-97-0': 'Jazz>Jazz: Out>Jazz: Out',
 '38-514-0': 'Experimental>Sound Art>Sound Art',
 '5-0-0': 'Classical>Classical>Classical',
 '12-85-404': 'Rock>Garage>Surf',
 '15-181-401': 'Electronic>Techno>Bigbeat',
 '12-36-0': 'Rock>Krautrock>Krautrock',
 '13-810-0': 'Easy Listening>Nu-Jazz>Nu-Jazz',
 '17-49-0': 'Folk>Free-Folk>Free-Folk',
 '38-6-16': 'Experimental>Novelty>Sound Effects',
 '15-182-0': 'Electronic>House>House',
 '20-188-0': 'Spoken>Poetry>Poetry',
 '14-11-0': 'Soul-RnB>Disco>Disco',
 '2-172-0': 'International>Asia-Far East>Asia-Far East',
 '2-130-0': 'International>Europe>Europe',
 '4-37-0': 'Jazz>Jazz: Vocal>Jazz: Vocal',
 '2-92-0': 'International>African>African',
 '12-25-64': 'Rock>Punk>Electro-Punk',
 '5-441-0': 'Classical>Opera>Opera',
 '2-0-0': 'International>International>International',
 '2-79-602': 'International>Reggae - Dub>Reggae - Dancehall',
 '9-63-0': 'Country>Bluegrass>Bluegrass',
 '2-46-1060': 'International>Latin America>Tango',
 '2-118-0': 'International>Balkan>Balkan',
 '38-6-360': 'Experimental>Novelty>Kid-Friendly',
 '5-187-0': 'Classical>20th Century Classical>20th Century Classical',
 '2-130-619': 'International>Europe>Spanish',
 '2-130-524': 'International>Europe>Romany (Gypsy)',
 '2-232-0': 'International>Flamenco>Flamenco',
 '2-102-1032': 'International>Middle East>Turkish',
 '20-65-166': 'Spoken>Radio>Interview',
 '20-65-43': 'Spoken>Radio>Radio Art',
 '12-45-0': 'Rock>Loud-Rock>Loud-Rock',
 '3-567-0': 'Blues>Gospel>Gospel',
 '15-468-491': 'Electronic>Dubstep>Skweee',
 '12-31-167': 'Rock>Metal>Black-Metal',
 '4-906-0': 'Jazz>Modern Jazz>Modern Jazz',
 '21-693-0': 'Hip-Hop>Wonky>Wonky',
 '2-177-0': 'International>Celtic>Celtic',
 '2-92-214': 'International>African>North African',
 '2-86-173': 'International>Indian>N. Indian Traditional',
 '38-6-0': 'Experimental>Novelty>Novelty',
 '20-465-0': 'Spoken>Musical Theater>Musical Theater',
 '9-169-0': 'Country>Rockabilly>Rockabilly',
 '2-46-502': 'International>Latin America>Cumbia',
 '2-130-741': 'International>Europe>Klezmer',
 '20-65-189': 'Spoken>Radio>Talk Radio',
 '9-0-0': 'Country>Country>Country',
 '13-0-0': 'Easy Listening>Easy Listening>Easy Listening',
 '2-176-0': 'International>Pacific>Pacific',
 '2-117-0': 'International>Polka>Polka',
 '2-92-81': 'International>African>Afrobeat',
 '2-86-174': 'International>Indian>South Indian Traditional',
 '21-83-0': 'Hip-Hop>Nerdcore>Nerdcore',
 '14-0-0': 'Soul-RnB>Soul-RnB>Soul-RnB'}