In [1]:
import pandas as pd
import numpy as np
import json
import ast
import os

import tensorflow as tf

2023-03-25 14:59:46.313830: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 AVX512F FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-03-25 14:59:47.240374: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer.so.7'; dlerror: libnvinfer.so.7: cannot open shared object file: No such file or directory; LD_LIBRARY_PATH: /usr/local/cuda-11.6/lib64:/usr/local/cuda-11.6/lib64:/usr/local/cuda-11.6/lib64:
2023-03-25 14:59:47.240622: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer_plugin.so.7'; dlerror: libnvinfer_plugin.so.7: cannot open shared object file: No such file or directory; LD_LIBRARY_PATH: /usr/local/cuda-11.6/lib64:/usr/local/cuda-11.6/lib64:/usr/local/cuda-11.6/lib64:
2023-03-25 14:59:47.240640: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Cannot dlopen some TensorRT libraries. If you would like to use Nvidia GPU with TensorRT, please make sure the missing libraries mentioned above are installed properly.

In [2]:
from tqdm.notebook import tqdm

In [3]:
tqdm.pandas()

In [17]:

args = pd.Series({
    "root_dir":"/mnt/disks/data/",
    "dataset_path":"/mnt/disks/data/fma/fma_large",
    "embeddings":"music_style",
    "train_id": "global_sample_test",
    'sample_size':0.01
})

In [18]:



job_path = "/mnt/disks/data/fma/trains"


# In[15]:


train_path = os.path.join(job_path,args.train_id)


# In[16]:


base_path = os.path.join(args.root_dir,"fma")


# In[17]:


models_path = os.path.join(args.root_dir,"models")


metadata_path_fma = os.path.join(base_path,"fma_metadata")


# In[18]:


metadata_file = os.path.join(train_path,"metadata.json")


categories_labels_path = os.path.join(train_path,"labels.json")

In [19]:


def __load_json__(path):
    with open(path, 'r') as f:
        tmp = json.loads(f.read())

    return tmp

In [20]:

def create_dir(path):
    # checking if the directory demo_folder2 
    # exist or not.
    if not os.path.isdir(path):

        # if the demo_folder2 directory is 
        # not present then create it.
        os.makedirs(path)
    return True

In [21]:
create_dir(train_path)

True

In [22]:
# Cria um dicionário que associa o ID de cada música aos IDs de seus gêneros musicais
tracks_df = pd.read_csv(os.path.join(metadata_path_fma,'tracks_valid.csv'))

In [23]:
tracks_df.sample(20)

,track_id,track_title,valid_genre
60034,91672,Le Mariage,"['27', '53', '76']"
19403,31455,Stupid Boy RMX (Original Track by Buskerdroid),"['240', '297']"
42417,64285,Anclado,"['25', '85']"
1136,1451,Start A Corporation,['12']
61270,94035,Glassheart,"['107', '1235']"
18558,30100,Perro de piedra,"['1', '38', '41']"
60958,93403,Ni olvido Ni perdon,"['27', '32']"
15050,24582,Berry Nuggons,"['31', '38']"
95889,143368,Arca,"['15', '100', '811']"
74584,115000,Squire Tuck - Fall from Grace,['1235']
88705,133476,Always Question,"['10', '12', '15']"
43847,65998,The Irreverent Deference of Ineffable Indiffer...,"['18', '38', '103']"
1932,3622,High and Dry,"['12', '89']"
58148,87450,nasikabatrachus sahyadrensis,"['185', '236', '542']"
42473,64345,Know Eye (MunKey Feer),['21']
100413,149251,contrabbassi in marcia,"['15', '38']"
54023,82076,Emotieloos,['236']
102583,152627,Edge of Sanctuary,"['4', '41', '443']"
81719,124321,Relearning How to Learn,"['1', '30', '38', '41', '247']"
65399,100711,Hollywood,"['10', '17', '103']"

In [24]:
import tensorflow as tf
import multiprocessing



class Dataset:
    def __init__(self, tfrecords_path, epochs, batch_size):
        self.tfrecords_path = tfrecords_path
        self.epochs = epochs
        self.batch_size = batch_size

    def list_files(self):
        return [os.path.join(tfrecords_path,file_path) for file_path in os.listdir(tfrecords_path)]

    def build(self):
        files = self.list_files()

        print("build_tf record: files_count: {} / batch_size: {} / epochs: {}".format(len(files), self.batch_size, self.epochs))

        ds = tf.data.TFRecordDataset(files, num_parallel_reads=multiprocessing.cpu_count())
        
        '''''
            Shuffle and reapeat
        '''''
        
        
        ds = ds.shuffle(buffer_size=1024 * 1 * 10)
        ds = ds.repeat(count=self.epochs)
        
        
        
        '''''
            Map and batch
        '''''
        
                      
        ds = ds.map(self.__parse__, num_parallel_calls=None)
        ds = ds.batch(self.batch_size,drop_remainder=False)
        
        
                      
        ds = ds.prefetch(buffer_size=5)
                      

        return ds
    
   
    @staticmethod
    def __parse__(example):
        parsed = tf.parse_single_example(example, features={
            'emb' : tf.io.FixedLenFeature([], tf.string),
            'label' : tf.io.FixedLenSequenceFeature([], tf.int64, allow_missing=True)
        })
        
        content = tf.io.parse_single_example(element, data)

        label = tf.cast(content['label'], tf.int32)
        label_hot = tf.one_hot(label1[0], label1[1])
        
        emb = content['emb']
        #get our 'feature'
        feature = tf.io.parse_tensor(emb, out_type=tf.float32)

        inp = {'emb': feature}
        out = {'global_output': label_hot}

        return inp, out

In [25]:

def _bytes_feature(value):
    """Returns a bytes_list from a string / byte."""
    if isinstance(value, type(tf.constant(0))): # if value ist tensor
        value = value.numpy() # get value of tensor
    return tf.train.Feature(bytes_list=tf.train.BytesList(value=[value]))

def _float_feature(value):
  """Returns a floast_list from a float / double."""
  return tf.train.Feature(float_list=tf.train.FloatList(value=[value]))

def _int64_feature(value):
  """Returns an int64_list from a bool / enum / int / uint."""
  return tf.train.Feature(int64_list=tf.train.Int64List(value=[value]))

def serialize_array(array):
  array = tf.io.serialize_tensor(array)
  return array



def parser(serialized_example):
    features_description = {'emb': tf.io.FixedLenFeature([], tf.string)}
    features = tf.io.parse_single_example(serialized_example, features_description)
    features = tf.io.decode_raw(features['emb'], tf.float32)
    return features


def parse_tfr_element(element):
    #use the same structure as above; it's kinda an outline of the structure we now want to create
    data = {
        'emb' : tf.io.FixedLenFeature([], tf.string),
        'label' : tf.io.FixedLenFeature([], tf.int64),
    }
    
    content = tf.io.parse_single_example(element, data)

    label = content['label']
    emb = content['emb']
    

    #get our 'feature'-- our image -- and reshape it appropriately
    feature = tf.io.parse_tensor(emb, out_type=tf.float32)
    return (feature, label)


def get_dataset(filename):
    #create the dataset
    dataset = tf.data.TFRecordDataset(filename)

    #pass every single feature through our mapping function
    dataset = dataset.map(
        parse_tfr_element
    )

    return dataset

In [28]:
import numpy as np


def load_dataset(train_path,dataset='train'):
    tfrecords_path = os.path.join(train_path,'tfrecords',dataset)
    
    
    tfrecords_path = [os.path.join(tfrecords_path,path) for path in os.listdir(tfrecords_path)]
    dataset = get_dataset(tfrecords_path)
    
    df = pd.DataFrame(
        dataset.as_numpy_iterator(),
        columns=['Feature', 'Label']
    )
        
    df.dropna(inplace=True)
    
    
    try:
        df.Feature = df.Feature.apply(lambda x: x[0] if x.shape[0] != 0 else None)
    except:
        print(x)
    
    return df

In [31]:
df_train = load_dataset(train_path,dataset='train')

In [32]:
df_train

                                                 Feature  Label
0      [0.009709865, 0.044001956, -0.040868733, -0.01...     32
1      [0.010298476, 0.01621922, -0.053395133, -0.024...     11
2      [-0.0005187392, -0.023328742, -0.09173801, -0....     37
3      [0.034876868, 0.07383147, 0.0016475618, -0.017...      1
4      [0.014769276, -0.00038407245, 0.05235334, -0.0...     17
...                                                  ...    ...
95889  [-0.001162375, -0.03857635, 0.24687551, -0.062...      5
95890  [-0.010861099, -0.02440227, 0.06723431, -0.075...     15
95891  [0.01881943, 0.03208481, -0.06986543, -0.04089...     17
95892  [-0.027461847, 0.0011310875, -0.015376071, -0....     25
95893  [-0.021429097, -0.0008863807, 0.113883644, -0....     67

[95894 rows x 2 columns]

In [29]:
df_test = load_dataset(train_path,dataset='test')

In [30]:
df_test

                                                Feature  Label
0     [0.026633054, -0.0044338503, 0.010027359, 0.03...      4
1     [-0.055930812, -0.0013209283, -0.082253374, -0...     28
2     [-0.010370354, 0.030533964, 0.003798763, 0.045...     32
3     [0.011000206, -0.011139979, -0.04958122, -0.01...     15
4     [0.009374037, -0.0028743744, -0.076278426, 0.2...     15
...                                                 ...    ...
5391  [-0.0007668833, 0.0059732995, -0.033018935, 0....     18
5392  [0.15222949, 0.09672994, -0.0637301, -0.055811...      8
5393  [-0.044790287, 0.045250494, -0.075303845, 0.03...     15
5394  [0.029960921, -0.041805927, 0.025912097, 0.041...      4
5395  [0.027481964, -0.03251484, -0.0025318016, -0.0...     10

[5396 rows x 2 columns]

In [33]:
df_val = load_dataset(train_path,dataset='val')

In [34]:
df_train.shape

(95894, 2)

In [37]:
processed = pd.concat([df_train, df_val, df_test], axis=0)

In [38]:
processed

                                                Feature  Label
0     [0.009709865, 0.044001956, -0.040868733, -0.01...     32
1     [0.010298476, 0.01621922, -0.053395133, -0.024...     11
2     [-0.0005187392, -0.023328742, -0.09173801, -0....     37
3     [0.034876868, 0.07383147, 0.0016475618, -0.017...      1
4     [0.014769276, -0.00038407245, 0.05235334, -0.0...     17
...                                                 ...    ...
5391  [-0.0007668833, 0.0059732995, -0.033018935, 0....     18
5392  [0.15222949, 0.09672994, -0.0637301, -0.055811...      8
5393  [-0.044790287, 0.045250494, -0.075303845, 0.03...     15
5394  [0.029960921, -0.041805927, 0.025912097, 0.041...      4
5395  [0.027481964, -0.03251484, -0.0025318016, -0.0...     10

[106419 rows x 2 columns]