In [36]:
import pandas as pd
import numpy as np
import ast
import json
import os
from essentia.standard import MonoLoader

In [3]:
from tqdm.notebook import tqdm

In [4]:
tqdm.pandas()

In [ ]:

args = pd.Series({
    "root_dir":"/mnt/disks/data/",
    "dataset_path":"/mnt/disks/data/fma/fma_large",
    "embeddings":"music_style",
    "train_id": "hierarchical_mini_test",
    'sample_size':0.01
})

In [13]:



job_path = "/mnt/disks/data/fma/trains"


# In[15]:


train_path = os.path.join(job_path,args.train_id)



# In[16]:


base_path = os.path.join(args.root_dir,"fma")


# In[17]:

metadata_path_fma = os.path.join(base_path,"fma_metadata")

In [123]:
# Cria um dicionário que associa o ID de cada música aos IDs de seus gêneros musicais
tracks_df = pd.read_csv(os.path.join(metadata_path_fma,'tracks.csv'), header=[0,1], index_col=0)

In [124]:
tracks_df.columns = ['_'.join(col) for col in tracks_df.columns.values]

In [125]:
tracks_df.track_genres

track_id
2                  [21]
3                  [21]
5                  [21]
10                 [10]
20            [76, 103]
              ...
155316             [25]
155317             [25]
155318             [25]
155319             [25]
155320    [10, 12, 169]
Name: track_genres, Length: 106574, dtype: object

In [126]:
tracks_df.track_genres.value_counts()

[21]                    2735
[15]                    2689
[]                      2231
[12]                    1896
[1, 30, 38, 41, 247]    1633
                        ...
[12, 542]                  1
[92, 602]                  1
[102, 189]                 1
[14, 30, 92]               1
[10, 12, 169]              1
Name: track_genres, Length: 4768, dtype: int64

In [129]:
tracks_df.reset_index(inplace=True)

In [132]:
tracks_df = tracks_df[['track_id','track_title']]

In [133]:
## Fazer o valid genre aqui

In [49]:
def valid_music(file_path):
    try:
        # we start by instantiating the audio loader:
        loader = MonoLoader(filename=file_path)

        return True
    except:
        return False

In [141]:
valid_music('/mnt/disks/data/fma/fma_large/000/000002.mp3')

True

In [138]:
valid_df = pd.read_csv(os.path.join(train_path,'tracks_genres_id_full_valid.csv'))

In [141]:
valid_df

        track_id          valid_genre
0            2.0               ['21']
1            3.0               ['21']
2            5.0               ['21']
3           10.0               ['10']
4           20.0        ['76', '103']
...          ...                  ...
104181  155316.0               ['25']
104182  155317.0               ['25']
104183  155318.0               ['25']
104184  155319.0               ['25']
104185  155320.0  ['10', '12', '169']

[104186 rows x 2 columns]

In [140]:
valid_df = valid_df[['track_id','valid_genre']]

In [142]:
df_merge = pd.merge(tracks_df,valid_df,on='track_id')

In [143]:
df_merge.valid_genre.values

array(["['21']", "['21']", "['21']", ..., "['25']", "['25']",
       "['10', '12', '169']"], dtype=object)

In [144]:
df_merge.to_csv(os.path.join(metadata_path_fma,'tracks_valid.csv'),index=False)